<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
	</head>
	<body>
		<div class='container'>
			<h1><%= title %></h1>
			<form>
				<div class='row'>
					<div class='span8'>
						<textarea placeholder='Paste your data here.' rows='20' required></textarea>
					</div>
					<div class='span4'>
						<ol>
							<li>
								Paste the data you want to check.<br>
								<small>
									Try some sample data:
									<ul>
										<li><a href="#">Soviet brochure, 1928</a></li>
										<li><a href="#">Population by country</a></li>
									</ul>
								</small>
							</li>
							<li>Click 'Check data'!</li>
						</ol>
						<button class='btn btn-primary btn-large'>Check data</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>