doctype 5
html(lang='en', ng-app)
    head
        title!= title
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300', rel='stylesheet', type='text/css')
        !=css('/stylesheets/style.css')
        block scripts
    body
        div(ng-controller='#{ngController}').container            
            menu
                ul.list-unstyled.links
                    li 
                        a(href="#", ng-click='showDescription = !showDescription') Learn
                ul.list-unstyled.steps
                    li(ng-class="step1")
                        a(href="/") Input<br />data
                    li(ng-class="step2")
                        a(href="") Visualize<br />results  


            .desc(ng-class='{show: showDescription}')
                p
                    | In many domains, such as disbursement data, sales, lengths etc. the first
                    | digit of a number follows a precise distribution. In one number out of 3,
                    | for instance, the first digit is a 1. If a data set does not follow this
                    | distribution, it might be an indication of fraud. Tax authorities around
                    | the globe use it, with other tools, to spot wrongdoers. Please note that
                    | Benford's law does not apply to constrained data (height of human beings,
                    | invoice numbers, etc.).
                p
                    | Read more at 
                    a(href="https://en.wikipedia.org/wiki/Benford's_law") Wikipedia
            .content
                header
                    h1!=title            
                    p
                        | Benford's law is a statistical observation about the distribution
                        | of numbers that's very usefull to detect fraud.      

                block content
                footer.text-right
                    a(href="http://paris.jplusplus.org").pull-right.left-40
                        img(src="/img/logo-full.png", alt="Journalism++")
                    p.top-10
                        | Journalism++ builds tools for data-driven storytellers.<br />                        
                        | Get in touch at 
                        a(href='mailto:contact@jplusplus.org') contact@jplusplus.org
                        | .
