doctype 5
html(lang='en', ng-app)
    head
        title Benford's law online checker</title>
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        !=css('/stylesheets/vendor/bootstrap.min.css')
        !=css('/stylesheets/vendor/bootstrap-responsive.min.css')
        !=css('/stylesheets/style.css')
        !=js('/scripts/vendor/angular.min.js')
        block scripts
    body
        div.container
            div.row
                h1 Benford's law online checker
            block content
