@import "vendor/bootstrap/bootstrap.less";
@import "tools.less";
@import  '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css';

@zindex-content:100;
@zindex-menu:@zindex-content+100;

body {
    padding-left:220px;

    .nav-pills a:hover {
        color:@body-bg;
    }

    .btn {
        border-width:3px;
    }

    .form-control, .form-control:focus, .form-control:active {
        .box-shadow(none);
        outline: none;
        border-color: @input-bg;
    }
}

menu {

    z-index:@zindex-menu;
    background:darken(@body-bg, 4);
    position:fixed;
    left:0;
    top:0;
    bottom:0;

    width:220px;
    padding:20px 0;
    margin:0;
    overflow: hidden; 


    &:before {
        content:"";
        width:20px;
        position:absolute;
        top:-20px;
        bottom:-20px;        
        left:100%;
        .box-shadow(0 0 10px darken(@body-bg, 10) );
    }

    ul {
        counter-reset: level;
    }

    li {
        display:block;
        width:160px;
        margin:auto;
        margin-bottom:20px;

        &.disable {
            .opacity(0.1);
        }      

        a {
            font-family:@headings-font-family;
            display:block;
            width:160px;
            padding-top:60px;
            position:relative;
            overflow:hidden;
            text-align: center;    
            color:#fff;        
            font-size:130%;
            cursor:pointer;
          

            &:before {
                counter-increment: level;
                content:counter(level);

                color:fade(#fff, 40);
                font-size:40px;

                position:absolute;
                top:10px;
                left:0;
                right:0;
            }
        }
    }


    .steps li {

        &:before {
            display: block;
            content:"● ● ●";
            font-size:20px;
            width:10px;
            line-height: 15px;
            margin:10px auto;
            text-align:center;
            text-shadow: 0 -1px 0 fade(#fff, 80);
        }

        &:first-child {
            margin-top:20px;

            &:before {
                display:none;                
            }
        }
    }

    .links {
        padding-bottom:20px;
        border-bottom:1px dotted fade(#fff, 10);
        margin-bottom:20px;

        a:before {
            content: "?";
        }
    }    
}


@media (max-width: @screen-sm-max) {

    body {        
        padding-left:0px;
        padding-top:160px;
    }

    menu {        
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:auto;
        width:auto;
        height:160px;
        overflow: hidden;


        &:before {            
            content:"";
            height:20px;
            width:100%;
            position:absolute;
            left:-20px;
            right:-20px;        
            top:100%;
            bottom:auto;
            .box-shadow(0 0 10px darken(@body-bg, 10) );
        }

        .steps li, .links li {
            float:left;
            margin:0;
            pading:0;
            width:160px;
            position:relative;
            overflow:visible;

            &:before {
                width:40px;
                text-align: center;
                position:absolute;
                right:100%;
                top:50%;
                height:20px;
                line-height:20px;
                margin-top:-10px;
                white-space:nowrap;
            }
        }

        .steps li{
            margin-left:40px;
            &:first-child {
                margin:0;
            }  
        }
                
        .links {
            float:left;
            border:0;
            border-right:1px dotted fade(#fff, 10);
        }
    }
}

.container .desc {

    background:#E1E5EA;
    color:mix(@body-bg, #aaa);
    max-height:0;
    padding:0px 20px;
    margin:0 -15px;
    border-bottom:1px dotted white;
    overflow:hidden;
   .box-shadow(0 0 14px 0 #000);
   .translate(0, -100px);
   .transition(0.7s);
    
    a {
        color:@body-bg;
    }    

    &.show {
        .translate(0, 0);
        max-height:400px;
        padding:10px 20px;
    }
}

.content {

    z-index:@zindex-content;
    padding:20px; 
    
    header {
        margin-bottom:40px;

        h1 {
            padding-left:70px;
            background:url("/img/logo.png") 0 center no-repeat;
        }
    }

    footer {
        margin-top:60px;
        padding:20px 0;
        border-top:1px dotted fade(#fff, 10);
    }

    .samples {
        a {
            cursor: pointer;
        }
    }

    .higher-z {
        .value {
            font-size:70px;
        }

        &.failled {
            color:@brand-danger;
        }

        &.success {
            color:@brand-success;
        }

        &.warning {
            color:@brand-warning;
        }

        .name {
            color:white;
            font-weight: bold;
        }
    }

    #chart, #magnitudes {
        width:100%;
        height:400px
    }
}