html, body { background: #232323; }

textarea { width: 100%; }

ul#samples a { cursor: pointer; }

.container, .row { background : #ddd; }

h1 { margin: 40px 0; }

label { display: inline-block; margin-left: 5px; }

input[type=checkbox] { vertical-align: text-top; }