extends ./layouts/base

block scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    !=js('/scripts/checker.js')
    :coffeescript
        $ () =>
            locals = JSON.parse('!{JSON.stringify(locals)}')
            ($ '#chart').highcharts Checker.getLawChartOptions locals.percents,
                                                               locals.law
            ($ '#magnitudes').highcharts Checker.getMagnitudeChartOptions locals.magnitudes

block content
    div.row
        div.span8
            div#chart
        div.span4.text-center
            div#magnitudes
    div.row
        div.span12
            p
                | Number of observations: #{total}
                br
                | Remember that math alone cannot prove fraud!
                | This test must be complemented with other means of investigation.
                if shareUrl
                    br
                    | You can share your result: 
                    a(href=shareUrl)= shareUrl
            p.text-center
                a(href='/').btn.btn-inverse.btn-large Try another dataset
