extends ./layouts/base

block scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="http://code.highcharts.com/highcharts-more.js")

    !=js('/scripts/vendor/angular.min.js')
    !=js('/scripts/vendor/angular-animate.min.js')
    !=js('/scripts/base')
    !=js('/scripts/checker.js')

    :coffeescript
        $ () =>
            locals = JSON.parse('!{JSON.stringify(locals)}')
            ($ '#chart').highcharts Checker.getLawChartOptions locals.percents, locals.law, locals.range
            ($ '#magnitudes').highcharts Checker.getMagnitudeChartOptions locals.magnitudes

block content
    .row
        .col-sm-8
            ul.nav.nav-pills
                li(ng-class="{active: magHidden}", ng-click="magHidden=true")
                    a(href="#z-statistic-pan") z-statistic
                li(ng-class="{active: !magHidden}", ng-click="magHidden=false")
                    a(href="#magnitudes-pan") magnitudes
            .tab-content
                .tab-pane(ng-class="{active: magHidden}")
                    #chart
                .tab-pane(ng-class="{active: !magHidden}")
                    #magnitudes                       
                    p.top10
                        | Benford's law generally does not apply if you have less than
                        |  2 orders of magnitude represented.

            
        .col-sm-4            
            .higher-z.bottom-20(class= z > 1.96 ? "failled" : "success")
                .value #{z}
                .name.right-20.pull-left Higher z-statistic
                a(href="https://github.com/jplusplus/benford-calculator/wiki/Frequently-Asked-Questions#whats-the-z-statistic")
                    | What's this?

            if z > 1.96
                p.alert.alert-danger.
                    | It seems that the data does not comply with Benford's law.
                    | Keep in mind that this is no proof.

            if shareUrl
                p.share
                    a(href='/').right-20
                        i.icon-angle-left.right-05
                        | New data set
                    a(href=shareUrl)
                        i.icon-link.right-05
                        | Share result
            else
                a(href='/').btn.btn-inverse.btn-large.btn-block
                    | New data set
