extends ./layouts/base

block scripts
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    script(type='text/javascript').
        var locals = !{JSON.stringify(locals)}
    !=js('/scripts/checker.js')
    :coffeescript
        $ () =>
            ($ '#chart').highcharts window.lawOptions
            ($ '#magnitudes').highcharts window.magnitudesOptions

block content
    div(ng-controller='Checker')
        div.row
            div.span8
                div#chart
            div.span4.text-center
                p Number of observations: #{total}
                div#magnitudes
                a(href='/').btn.btn-primary.btn-large Try another dataset