extends ./layouts/base

block scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    !=js('/scripts/checker.js')
    :coffeescript
        $ () =>
            locals = JSON.parse('!{JSON.stringify(locals)}')
            ($ '#chart').highcharts Checker.getLawChartOptions locals.percents,
                                                               locals.law
            ($ '#magnitudes').highcharts Checker.getMagnitudeChartOptions locals.magnitudes

block content
    div.row
        div.span8
            div#chart
        div.span4
            br
            h3 z-statistic:
            br
            if shareUrl
                div.row
                    div.span2
                        a(href='/').btn.btn-inverse.btn-large.btn-block
                            | New data set
                    div.span2
                        a(href=shareUrl).btn.btn-large.btn-block
                            | Share result
            else
                a(href='/').btn.btn-inverse.btn-large.btn-block
                    | New data set
    div.row.row-animate-hide(ng-hide='magHidden')
        div.span8.text-center
            div#magnitudes
        div.span4
            p
                br
                | Benford's law generally does not apply if you have less than
                |  2 orders of magnitude represented.
            br
            a.btn.btn-link.btn-small(ng-click='magHidden=!magHidden') [x] Close
    div.row(ng-hide='!magHidden')
        div.span12
            a.btn.btn-link.btn-small(ng-click='magHidden=!magHidden')
                | [+] Show orders of magnitudes
    div.row
        div.span12
            &nbsp;