extends ./layouts/base

block scripts
    !=js('/scripts/vendor/angular.min.js')
    !=js('/scripts/vendor/angular-animate.min.js')
    !=js('/scripts/base')
    !=js('/scripts/index.js')

block content
    form(action='/checker', method='POST', enctype='multipart/form-data')
        .row
            .col-sm-8
                textarea(name='data', placeholder='Paste your data here.', rows='20', ng-model='textareaData')
            .col-sm-4
                br
                h3 Try a sample data:
                small
                    ul#samples
                        li
                            a(ng-click="sampleData('soviet.txt')")
                                | Soviet brochure, 1928
                        li
                            a(ng-click="sampleData('population.txt')")
                                | Population by country
                        li
                            a(ng-click="sampleData('lakesminnesota.txt')")
                                | List of lakes in Minnesota
        .row
            .col-sm-8
                .row
                    .col-sm-5
                        h3 Or import a CSV file
                    .col-sm-3
                        input(type='file', accept='text/*', name='file', multiple)
            .col-sm-4
                .text-center
                    button.btn.btn-inverse.btn-block.btn-large Check data
                    br
                    input(type='checkbox', name='keep', checked)#keep
                    label(style='display:inline-block', for='keep')
                        | Store my result