extends ./layouts/base

block scripts
    !=js('/scripts/index.js')

block content
    form(action='/checker', method='POST', enctype='multipart/form-data')
        div.row
            div.span8
                textarea(name='data', placeholder='Paste your data here.',
                         rows='20') {{textareaData}}
            div.span4
                br
                h3 Try a sample data:
                small
                    ul#samples
                        li
                            a(ng-click="sampleData('soviet.txt')")
                                | Soviet brochure, 1928
                        li
                            a(ng-click="sampleData('population.txt')")
                                | Population by country
        div.row
            div.span8
                div.row
                    div.span5
                        h3 Or import a CSV file
                    div.span3
                        input(type='file', accept='text/*', name='file', multiple)
            div.span4
                div.text-center
                    button.btn.btn-inverse.btn-block.btn-large Check data
                    br
                    input(type='checkbox', name='keep', checked)#keep
                    label(style='display:inline-block', for='keep')
                        | Store my result