<!DOCTYPE html>
<html lang='en' ng-app='benford'>
	<head>
		<title>Benford's law online checker</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<script type="text/javascript" src="/scripts/vendor/angular.min.js"></script>
		<script type="text/javascript" src="/scripts/app.js"></script>
		<script type="text/javascript" src="/scripts/controllers.js"></script>
	</head>
	<body>
		<div class='container'>
			<h1>Benford's law online checker</h1>
			<div ng-view></div>
		</div>
	</body>
</html>