extends ./layouts/base

block scripts
    !=js('/scripts/vendor/angular.min.js')
    !=js('/scripts/vendor/angular-animate.min.js')
    !=js('/scripts/base')
    !=js('/scripts/index.js')

block content
    form(action='/checker', method='POST', enctype='multipart/form-data')
        .row
            .col-md-8
                textarea.bottom-20.col-sm-12.form-control(name='data', placeholder='Paste your data here.', rows='10', ng-model='textareaData')            
            .col-md-4
                .top-0.bottom-40.col-xs-6.col-md-12
                    h4 
                        .icon-paste.right-10
                        | Try a sample data              
                    ul.samples.list-unstyled
                        li
                            a(ng-click="sampleData('soviet.txt')")                                
                                | Soviet brochure, 1928
                        li
                            a(ng-click="sampleData('population.txt')")                                
                                | Population by country
                        li
                            a(ng-click="sampleData('lakesminnesota.txt')")                                
                                | List of lakes in Minnesota            
                .col-xs-6.col-md-12
                    h4 
                        .icon-upload.right-10
                        | Or import a CSV file
                    input(type='file', accept='text/*', name='file', multiple)
        .row
            .col-md-8                
                    .pull-right
                        button.btn.btn-primary 
                            i.icon-bar-chart.right-05
                            | Check data
                    label.pull-right.checkbox.right-20(for='keep')
                        | Store my result
                        input(type='checkbox', name='keep', checked)#keep