extends ./layouts/base

block scripts
    !=js('/scripts/index.js')

block content
    div.row(ng-controller='IndexCtl')
        form(action='/checker', method='POST', enctype='multipart/form-data')
            div.span9
                textarea(name='data', placeholder='Paste your data here.',
                         rows='20') {{textareaData}}
                input(type='file', accept='text/*', name='file', multiple)
            div.span3
                ol
                    li Paste the data you want to check or select a file.<br>
                        small Try some sample data:
                            ul#samples
                                li
                                    a(ng-click="sampleData('soviet.txt')")
                                        | Soviet brochure, 1928
                                li
                                    a(ng-click="sampleData('population.txt')")
                                        | Population by country
                    li Click 'Check data'!
                div.text-center
                    button.btn.btn-inverse.btn-large Check data
                    br
                    input(type='checkbox', name='keep', checked)#keep
                    label(style='display:inline-block', for='keep')
                        | Store my result                    